%div{ 'ng-controller' => 'EntryListCrtl' }
  %h1 Challenge of the Week
  %div= flash[:notice]
  %div{ 'ng-bind-template' => '{{message}}' }

  = form_tag('/challenge', :method => 'put') do
    = label_tag(:content, 'Content')
    = text_field_tag(:content, @challenge)
    = submit_tag('Edit')

  %h3 Current Entries
  %ul
    %li{ 'ng-repeat' => 'entry in entries' }
      %p {{ entry.title }}

  %h3 Add an entry!
  %form
    %label Title
    %input{ :type => 'text', :id => 'title', 'ng-model' => 'entry.title' }
    %input{ :type => 'submit', :value => 'Submit', 'ng-click' => 'submit()' }
