<!DOCTYPE html>
<html ng-app='codearena'>
<head>
  <title>Codearena</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style> 
    <%= Pygments.css %>
  </style>
</head>
<body>
  <section id='main-content'>
    <header>
      <h1>
        <a href='#/'>Code Arena</a>
      </h1>
    </header>
    <%= yield %>
  </section>
</body>
</html>
