<!DOCTYPE html>
<html ng-app='codearena'>
<head>
  <title>Codearena</title>
  <script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style> 
    <%= Pygments.css %>
  </style>
</head>
<body>
  <header id='topbar'>
    <section id='title'>
      <a href='#/'>Code Arena</a>
    </section>

    <section id='menu'>
      <% if current_user %>
        <%= current_user.nickname %>
        <%= link_to 'Logout', 'auth/logout' %>
      <% else %>
        <%= link_to 'Login', 'auth/github' %>
      <% end %>
      <a href="#/previous_challenges"> Previous Challenges</a>
    </section>
  </header>

  <section id='main-content'>
    <%= yield %>
  </section>
</body>
</html>
